.sell-content {    

    .product {
        button{
            width: 30px;
            height: 30px;
        }

        .product-control {
            padding-right: 5%;
        }
    }    
}

.sell-footer {
    form {
        padding-top: 15px;
        margin-right: 15px;

        ion-row {
            margin-left: 10px;
        }
    }

    .bill-extract {
        font-size: 1.6rem;
        .bill-extract-value {
            font-weight: bold;
        }
    }    
}