<ion-header>

  <ion-toolbar>
    <ion-buttons left>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ 'COMMONS.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="dashboard-content">

  <ion-item-group class="filter-list">
    <!-- Range -->
    <ion-item-divider class="filter-header" (click)="rangeDropdown()">
      {{ 'DASHBOARD.RANGE' | translate }}
      <ion-icon name="arrow-dropdown" item-end *ngIf="!rangeVisible"></ion-icon>
      <ion-icon name="arrow-dropup" item-end *ngIf="rangeVisible"></ion-icon>
    </ion-item-divider>
    <ion-item *ngIf="rangeVisible">
      <ion-label>{{ 'DASHBOARD.START_DATE' | translate }}</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY"
      [(ngModel)]="fromDate"
      max = "{{ toDate }}"
      doneText="{{ 'COMMONS.ACCEPT' | translate }}"
      cancelText="{{ 'COMMONS.CANCEL' | translate }}"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="rangeVisible">
      <ion-label>{{ 'DASHBOARD.END_DATE' | translate }}</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY"
      [(ngModel)]="toDate"
      min = "{{ fromDate }}"
      max = "{{ today }}"
      doneText="{{ 'COMMONS.ACCEPT' | translate }}"
      cancelText="{{ 'COMMONS.CANCEL' | translate }}"></ion-datetime>
    </ion-item>
  </ion-item-group>

  <ion-item-group>

    <!--Extract-->
    <ion-item-divider>{{ 'DASHBOARD.EXTRACT' | translate }}</ion-item-divider>
    <ion-item>
      <ion-icon name="cube" item-start></ion-icon>
      {{ 'DASHBOARD.TOTAL_PRODUCTS' | translate }}
      <ion-badge item-end>{{ total }}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-usd" item-start></ion-icon>
      {{ 'DASHBOARD.INVENTORY_VALUE' | translate }}
      <ion-badge *ngIf="price" item-end>{{ price | currency:'COP' }}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-usd" item-start></ion-icon>
      {{ 'DASHBOARD.REVENUE' | translate }}
    </ion-item>

    <!--Alerts-->
    <!-- <ion-item-divider>{{ 'DASHBOARD.ALERTS' | translate }}</ion-item-divider>
    <ion-item>
      <ion-icon name="warning" item-start></ion-icon>
      {{ 'DASHBOARD.ITEMS_WITH_LOW_COUNT' | translate }}
    </ion-item> -->

  </ion-item-group>

</ion-content>

<ion-footer>
  <!-- Main actions. -->
  <ion-grid class="button-bar">
    <ion-row>
      <ion-col col-4>

        <button ion-button full (click)="pushPage(createProductPage)">
          <ion-grid text-center>
            <ion-row>
              <ion-col>
                <ion-icon name="add"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                {{ 'COMMONS.CREATE' | translate }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </button>

      </ion-col>

      <ion-col col-4>
        <button ion-button full (click)="pushPage(sellPage)">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-icon name="logo-usd"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                {{ 'COMMONS.SELL' | translate }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </button>
      </ion-col>

      <ion-col col-4>
        <button ion-button full (click)="scann()">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-icon name="qr-scanner"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                {{ 'COMMONS.SCANN' | translate }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-footer>