.profile {
    .setting-button {   
        color: white;

        .button-inner{
            justify-content:flex-start;
            text-transform: capitalize;
        }
    }

    .profile-avatar-container {
        padding-top: 20px;
        padding-bottom: 15px;
        background: color($colors, primary) !important;
        color: white !important;

        ion-avatar {
            img {
                width:100% !important;
                height : 100% !important;
                max-width: 60px !important;
                max-height: 60px !important; 
            }
        }
    }
}