<ion-header>

    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>{{ 'PROFILE.CHANGE_PASSWORD' | translate }}</ion-title>

        <ion-buttons end>
            <button ion-button icon-only [disabled]="!updatePasswordFormGroup.valid" (click)="updatePassword()">
                <ion-icon name="checkmark"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>

    <form [formGroup]="updatePasswordFormGroup" (ngSubmit)="updatePassword()">

        <ion-item>
            <ion-label>{{ 'PROFILE.PASSWORD' | translate }}</ion-label>
            <ion-input type="password" id="password" formControlName="passwordFormControl" [ngClass]="{'invalid':passwordFormControl.errors && (passwordFormControl.dirty || passwordFormControl.touched)}"></ion-input>
        </ion-item>
        <ion-grid>
            <ion-row *ngIf="passwordFormControl.errors && (passwordFormControl.dirty || passwordFormControl.touched)">
                <span *ngIf="passwordFormControl.errors.required">{{ 'PROFILE.REQUIRED_PASSWORD_MESSAGE' | translate }}</span>
                <span *ngIf="passwordFormControl.errors.minlength">{{ 'PROFILE.MINLENGTH_PASSWORD_MESSAGE' | translate }}</span>
            </ion-row>
        </ion-grid>
    </form>

</ion-content>