<ion-header>

    <ion-toolbar>        

        <ion-searchbar [(ngModel)]="name" showCancelButton="false" cancelButtonText="{{ 'COMMONS.CANCEL' | translate }}" placeholder="{{ 'COMMONS.SEARCH' | translate }}"
            (ionInput)="getProducts()" (ionCancel)="closeModal()">
        </ion-searchbar>

    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-item-group inset>

        <button *ngFor="let name of names" ion-item (click)="selectName(name)">
            {{ name }}
        </button>

        <ion-item *ngIf="!names || names.length == 0" text-center>
            {{ 'PRODUCTS.PRODUCTS_EMPTY_MESSAGE' | translate}}
        </ion-item>

    </ion-item-group>
</ion-content>

<ion-footer>
</ion-footer>