<ion-content class="login">

  <ion-grid *ngIf="!auth0Service.isAuthenticated()">
    <ion-row class="login-row" align-items-center justify-content-center>      
        <div
        align-items-center>
          <h1 padding>{{ 'COMMONS.TITLE' | translate }}</h1>
          <button ion-button color="primary" 
          *ngIf="!auth0Service.isAuthenticated()" 
          (click)="auth0Service.login()">{{ 'COMMONS.LOGIN' | translate }}</button>

          <!-- <button ion-button color="primary" 
          *ngIf="auth0Service.isAuthenticated()" 
          (click)="auth0Service.logout()">{{ 'COMMONS.LOGOUT' | translate }}</button> -->
        </div>     
    </ion-row>
  </ion-grid>

</ion-content>