.create-product-content { 
    /** Product inputs. */
    ion-item {
        background-color: transparent;
    }

    form {
        padding-top: 15px;
        margin-right: 15px;

        ion-row {
            margin-left: 10px;
        }
    }
}
