.products-header {
    .filter-list {
        margin-bottom: 0px;
        .filter-header {
            height: 45px;
            ion-icon {
                margin-right: 10px;
            }
        }
    }
}

.products-content.filter-visible {
    margin-top: 90px;
    height: 86%;
}