<ion-header>

  <ion-toolbar>
    <ion-buttons left>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ 'PRODUCTS.PRODUCTS' | translate }}
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="no-scroll products-content">
  <ion-searchbar [(ngModel)]="name" [showCancelButton]="shouldShowCancel" placeholder="{{ 'COMMONS.SEARCH' | translate }}"
    (ionInput)="getProducts()"></ion-searchbar>

  <ion-list class="filter-list">

    <ion-item-divider class="filter-header" (click)="filterDropdown()">
      {{ 'PRODUCTS.FILTERS' | translate }}
      <ion-icon name="arrow-dropdown" item-end *ngIf="!filterVisible"></ion-icon>
      <ion-icon name="arrow-dropup" item-end *ngIf="filterVisible"></ion-icon>
    </ion-item-divider>

    <ion-item class="filter-item">
      <ion-label>{{ 'PRODUCTS.PRODUCT_BRAND' | translate }} </ion-label>
      <ion-select [(ngModel)]="brand" (ngModelChange)="getProducts()" okText="{{ 'COMMONS.ACCEPT' | translate }}" cancelText="{{ 'COMMONS.CANCEL' | translate }}">
        <ion-option>{{ selectBrandMessage }}</ion-option>
        <ion-option *ngFor="let brand of brands">{{ brand }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="filter-item">
      <ion-label>{{ 'PRODUCTS.PRODUCT_COLOR' | translate }} </ion-label>
      <ion-select [(ngModel)]="color" (ngModelChange)="getProducts()" okText="{{ 'COMMONS.ACCEPT' | translate }}" cancelText="{{ 'COMMONS.CANCEL' | translate }}">
        <ion-option>{{ selectColorMessage }}</ion-option>
        <ion-option *ngFor="let color of colors">{{ color.name }}</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <ion-item-divider>
    {{ 'PRODUCTS.PRODUCTS' | translate }}
  </ion-item-divider>
  <ion-scroll scrollX="true" scrollY="true">
    <ion-item-group class="products-item-group">

      <ion-item *ngFor="let product of products">
        <ion-icon name="cube" item-start></ion-icon>
        <h2>{{ product.name }}</h2>
        <p>{{ 'PRODUCTS.PRODUCT_AMOUNT' | translate }} {{ product.amount }}</p>
        <p>{{ 'PRODUCTS.PRODUCT_VALUE' | translate }} {{ product.price | currency:'COP' }}</p>
        <button ion-button item-end (click)="goToProduct(product)">{{ 'COMMONS.SEE' | translate }}</button>
      </ion-item>

      <ion-item *ngIf="!products || products.length == 0" text-center>
        {{ 'PRODUCTS.PRODUCTS_EMPTY_MESSAGE' | translate}}
      </ion-item>

    </ion-item-group>

  </ion-scroll>

</ion-content>