<ion-header class="products-header">

  <ion-toolbar>
    <ion-buttons left>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      {{ 'PRODUCTS.PRODUCTS' | translate }}
    </ion-title>

    <ion-buttons right>
      <button ion-button (click)="goToSearchPage()" icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item-group class="filter-list">

    <ion-item-divider class="filter-header" (click)="filterDropdown()">
      {{ 'PRODUCTS.FILTERS' | translate }}
      <ion-icon name="arrow-dropdown" item-end *ngIf="!filterVisible"></ion-icon>
      <ion-icon name="arrow-dropup" item-end *ngIf="filterVisible"></ion-icon>
    </ion-item-divider>

    <ion-item *ngIf="filterVisible">
      <ion-label>{{ 'PRODUCTS.PRODUCT_BRAND' | translate }} </ion-label>
      <ion-select [(ngModel)]="brand" (ngModelChange)="getProducts()" okText="{{ 'COMMONS.ACCEPT' | translate }}" cancelText="{{ 'COMMONS.CANCEL' | translate }}">
        <ion-option>{{ selectBrandMessage }}</ion-option>
        <ion-option *ngFor="let brand of brands">{{ brand }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="filterVisible">
      <ion-label>{{ 'PRODUCTS.PRODUCT_COLOR' | translate }} </ion-label>
      <ion-select [(ngModel)]="color" (ngModelChange)="getProducts()" okText="{{ 'COMMONS.ACCEPT' | translate }}" cancelText="{{ 'COMMONS.CANCEL' | translate }}">
        <ion-option>{{ selectColorMessage }}</ion-option>
        <ion-option *ngFor="let color of colors">{{ color.name }}</ion-option>
      </ion-select>
    </ion-item>

  </ion-item-group>

  <ion-item-divider>
    {{ 'PRODUCTS.PRODUCTS' | translate }}
  </ion-item-divider>

</ion-header>

<ion-content class="products-content" [ngClass]="{'filter-visible': filterVisible}">

  <ion-item-group>

    <ion-item *ngFor="let product of products">
      <ion-icon name="cube" item-start></ion-icon>
      <ion-label>
        {{ product.name }}
        <p *ngIf="product.brand">{{ 'PRODUCTS.PRODUCT_BRAND' | translate }} {{ product.brand }}</p>
        <p *ngIf="product.color">{{ 'PRODUCTS.PRODUCT_COLOR' | translate }} {{ product.color }}</p>
      </ion-label>
      <button ion-button item-end (click)="goToProduct(product)">
        {{ 'COMMONS.SEE' | translate }}
      </button>
    </ion-item>

    <ion-item *ngIf="!products || products.length == 0" text-center>
      {{ 'PRODUCTS.PRODUCTS_EMPTY_MESSAGE' | translate}}
    </ion-item>

  </ion-item-group>


</ion-content>