.products-content {
    .filter-list {
        margin-bottom: 0px;
        .filter-header {
            height: 40px;
            ion-icon {
                margin-right: 10px;
            }
        }
        .filter-item {
            display: none;
        }
    }
}